# .goreleaser.yml
project_name: "steampipe_export_{{.Plugin}}"

before:
  hooks:
    - go mod tidy

checksum:
  name_template: 'checksums.txt'

# Build customizations
builds:
  - id: "steampipe_export_{{.Plugin}}"
    main: "."
    env:
      - CGO_ENABLED=0
    goos:
      - linux
      - darwin
    goarch:
      - amd64
      - arm64
    ldflags:
      # strip debug info for smaller binaries
      - "-s -w -X main.version={{"{{"}} .Env.VERSION {{"}}"}} -X main.date={{"{{"}} .Date {{"}}"}} -X main.commit={{"{{"}}.Commit {{"}}"}} -X main.builtBy=goreleaser"
    flags:
      - -tags=netgo

# Archive customization
archives:
  - id: "steampipe_export_{{.Plugin}}"
    format: tar.gz
    name_template: "{{"{{"}} .ProjectName {{"}}"}}.{{"{{"}} .Os {{"}}"}}_{{"{{"}} .Arch {{"}}"}}"
    files:
      - "steampipe_export_{{.Plugin}}*"
