# .goreleaser.yml
project_name: "{{.Plugin}}_dump"

before:
  hooks:
    - go mod tidy

checksum:
  name_template: 'checksums.txt'

# Build customizations
builds:
  - id: "{{.Plugin}}_dump"
    main: "."
    goos:
      - linux
      - darwin
    goarch:
      - amd64
      - arm64
    ldflags:
      - "-s -w"  # strip debug info for smaller binaries

# Archive customization
archives:
  - id: "{{.Plugin}}_dump"
    format: tar.gz
    name_template: "{{"{{"}} .ProjectName {{"}}"}}_{{"{{"}} .Os {{"}}"}}_{{"{{"}} .Arch {{"}}"}}"
    files:
      - "aws_dump*"
