# .goreleaser.yml
project_name: "steampipe_export_{{.Plugin}}"

before:
  hooks:
    - go mod tidy

checksum:
  name_template: 'checksums.txt'

# Build customizations
builds:
  - id: "steampipe_export_{{.Plugin}}"
    main: "."
    goos:
      - linux
      - darwin
    goarch:
      - amd64
      - arm64
    ldflags:
      - "-s -w"  # strip debug info for smaller binaries

# Archive customization
archives:
  - id: "steampipe_export_{{.Plugin}}"
    format: gz
    name_template: "{{"{{"}} .ProjectName {{"}}"}}.{{"{{"}} .Os {{"}}"}}_{{"{{"}} .Arch {{"}}"}}"
    files:
      - "steampipe_export_{{.Plugin}}*"
