package main

import (
	"github.com/spf13/cobra"
	"github.com/spf13/viper"
	"github.com/turbot/steampipe-plugin-sdk/v5/plugin"
	{{.Plugin}} "{{.PluginGithubUrl}}/{{.Plugin}}"
)

var pluginServer = plugin.Server(&plugin.ServeOpts{
    PluginFunc: {{.Plugin}}.Plugin,
})

var pluginAlias = "{{.Plugin}}"
var connection = pluginAlias

func setupRootCommand() *cobra.Command {
	rootCmd := &cobra.Command{
        Use:   "steampipe_export_{{.Plugin}} TABLE_NAME [flags]",
        Short: "Steampipe export {{.Plugin}}",
        Long: `Export data using the {{.Plugin}} plugin.

Find detailed usage information including table names, column names, and
examples at the Steampipe Hub: https://hub.steampipe.io/plugins/turbot/{{.Plugin}}
`,
        Run:     executeCommand,
        Args:    cobra.ExactArgs(1),
        Version: viper.GetString("main.version"),
    }

	// Define flags
    rootCmd.PersistentFlags().String("connection", "", "Name of the connection to use (must match a connection defined in the config file)")
    rootCmd.PersistentFlags().String("config", "", "Inline HCL config data for the connection  (deprecated - use --connection instead)")
    rootCmd.PersistentFlags().String("config-dir", "", "Directory to read config files from (defaults to $STEAMPIPE_INSTALL_DIR/config)")
    rootCmd.PersistentFlags().StringArray("where", []string{}, "Optional WHERE clause(s) to filter query results")
    rootCmd.PersistentFlags().String("output", "csv", "Output format: csv, json or jsonl")
    rootCmd.PersistentFlags().StringSlice("select", nil, "Columns to include in the output")
    rootCmd.PersistentFlags().Int("limit", 0, "Maximum number of rows to return (0 means no limit)")
    rootCmd.SetVersionTemplate("steampipe_export_{{.Plugin}} v{{"{{"}} .Version {{"}}"}}\n")

	viper.BindPFlags(rootCmd.PersistentFlags())

	return rootCmd
}